# Firebase Admin SDK (from Service Account JSON)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=noreply@rumoo.app

# Server
PORT=3000
NODE_ENV=development

# OTP Config
OTP_EXPIRY_MINUTES=10
OTP_LENGTH=6

#Instagram
INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_REDIRECT_URI=https://rumo-backend-production.up.railway.app/auth/instagram/callback

# Encryption
ENCRYPTION_KEY=
